.main {
  flex: 1;
  display: flex;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 64px 24px 56px;
  text-align: center;
}

@media (max-width: 1024px) {
  .container {
    padding: 48px 20px 40px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 36px 16px 32px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 28px 12px 24px;
  }
}
